<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../includes/modern-normalize.css">
    <link rel='stylesheet' href='../includes/base.css'>
    <title>aln notes{{ ": {}".format(title) if title}}</title>
  </head>
  <body id='page-wrapper'>
    <div id="nav">
      <span>aln notes</span>
      <a href="/" class='{{ "active" if all_active }}'><strong><tt>all posts</tt></strong></a>
      <a href="about" class='{{ "active" if about_active }}'><tt>about</tt></a>
    </div>
    <div id="container">{% block content %}{% endblock %}</div>
  </body>
</html>
